{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h4>Ajouter une annonce</h4>

    {% if not app.user %}
        <h5>Vous devez être connecté pour ajouter une annonce</h5>
        <a class="btn btn-primary col-3" href="{{path('connexion')}}">Connexion</a>
        <p>Pas encore de compte ? <a href="{{path('inscription')}}">Inscrivez-vous</a></p>
    {% else %}
        {{ form_start(formAnnonce) }}
            <div class="row">
                <div class="col">
                    {{ form(formAnnonce) }}
                </div>
            </div>
        {{ form_end(formAnnonce) }}
    {% endif %}

{% endblock body %}