{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <p>Pour : {{dest.prenom}} {{dest.nom}}</p>
    {{ form_start(formMessage) }}
        <div class="row">
            <div class="col-6">
                {{ form(formMessage) }}
            </div>
        </div>
    {{ form_end(formMessage) }}
   
{% endblock body %}