{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<h5>Boite de réception :</h5>

	<p>Vous avez
		{{app.user.received | length}}
		message(s).</p>

	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Expéditeur</th>
				<th scope="col">Date</th>
				<th scope="col">Contenu</th>
			</tr>
		</thead>
		<tbody>
        {% for message in app.user.received %}
            <tr>
				<td>{{message.expediteur.prenom}} {{message.expediteur.nom}}</td>
				<td>{{message.date | date('d/m/Y à H:i')}}</td>
				<td>{{message.contenu}}</td>
			</tr>
        {% endfor %}
			
		</tbody>
	</table>



{% endblock %}


