{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<h4>Mes annonces</h4>


	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Type</th>
				<th scope="col">Ville</th>
				<th scope="col">Prix</th>
				<th scope="col">Titre</th>
				<th scope="col">Image</th>
				<th scope="col"></th>
			</tr>
		</thead>

		<tbody>
			{% for annoncesByUser in annoncesByUsers %}

				<tr>

					<td>{{annoncesByUser.type}}
						{{annoncesByUser.nbpieces}}
						{% if annoncesByUser.nbpieces == 1 %}
							pièce
						{% else %}
							pièces
						{% endif %}
						{{annoncesByUser.surface}}
						m²</td>
					<td>{{annoncesByUser.ville}}</td>
					<td>{{annoncesByUser.prix | number_format(0, ' ', ' ')}}
						€</td>
					<td>{{annoncesByUser.titre}}</td>
					<td><img src="/images/{{annoncesByUser.imageCover}}" class="img-fluid" style="width:90px;height:55px" alt="..."></td>
					<td>
						<div class="btn-group">
							<a href="{{path( 'edit_annonce', {'id' : annoncesByUser.id} )}}">Modifier</a>
							<button type="button" class="btn btn-primary">Supprimer</button>
						</div>
					</td>
				</tr>

                
				
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
